<% layout('layouts/boilerplate') %>

<h1>Profile</h1>

<div class="card col-3 mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= user.username %></li>
        <li class="list-group-item"><%= user.email %></li>
        <li class="list-group-item">
        <img class="small-img" src="<%= user.avatar %>" alt="Avatar">
    </li>
    </ul>
</div>
<form class="d-inline" action="/users/<%= user._id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label>Change Avatar</label>
        <div class="d-flex flex-wrap">
            <% const avatars = [
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188271/avatars/av7_uphxbo.jpg', 
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188270/avatars/av10_qyyxvy.jpg', 
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188270/avatars/av9_a2wsjt.jpg', 
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188269/avatars/av8_fm2eig.jpg', 
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188269/avatars/av5_auyjpv.jpg', 
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188269/avatars/av6_gb7t7y.jpg', 
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188268/avatars/av4_sem0xw.jpg', 
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188268/avatars/av2_rsa1lh.jpg', 
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188268/avatars/av3_z5jebn.jpg', 
                'https://res.cloudinary.com/duil5vwuw/image/upload/v1720188268/avatars/av1_fmalgj.jpg'
            ]; %>
            <% avatars.forEach((avatar, index) => { %>
                <div class="form-check mr-2 mb-2">
                    <input class="form-check-input" type="radio" name="avatar" id="avatar<%= index %>" value="<%= avatar %>" <%= user.avatar === avatar ? 'checked' : '' %>>
                    <label class="form-check-label" for="avatar<%= index %>">
                        <img class="small-img" src="<%= avatar %>" alt="Avatar">
                    </label>
                </div>
            <% }); %>
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Update Avatar</button>
    </div>
</form>
<div class="mb-3">
    <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger mb-3">Delete Profile</button>
    </form>
</div>

